@model DokterApp.Models.DokterPoliView

@{
    ViewData["Title"] = "Details";
}

<h1>Detail Poli</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.poli.nama)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.poli.nama)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.poli.lokasi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.poli.lokasi)
        </dd>
    </dl>
</div>


<h2>Daftar Dokter</h2>

<table class="table">
    <thead>
        <tr>
            <th>Hari</th>
            <th>Dokter</th>
            <th>NIP</th>
            <th>NIK</th>
            <th>SPESIALISASI</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Doctor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.hari)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.spesialisasi)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Doctor.id">Edit</a>*@ |
    <a href="@Url.Action("Index", "Poli")">Ke Daftar Poli</a>
</div>
