@model DokterApp.Models.JadwalDokter

@{
    ViewData["Title"] = "Delete";
}

<h1>Hapus Jadwal</h1>

<h3>Yakin ingin menghapus?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.hari)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hari)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nama)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nama)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.lokasi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.lokasi)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Hapus" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
