@model DokterApp.Models.JadwalDokterViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detail Dokter</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.nama)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.nama)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.nip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.nip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.nik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.nik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.tanggal_lahir)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.tanggal_lahir)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.tempat_lahir)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.tempat_lahir)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.jenis_kelamin)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Doctor.jenis_kelamin)*@
            @if(Model.Doctor.jenis_kelamin == 1)
            {
                <span>Laki-Laki</span>
            }
            else
            {
                <span>Perempuan</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.spesialisasi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.spesialisasi)
        </dd>
    </dl>
</div>
<h2>Jadwal Jaga</h2>
<a href="@Url.Action("Create", "JadwalDokter", new{id=Model.Doctor.id})">
    <button type="submit" class="btn btn-primary">Tambah Jadwal</button>
</a>

<table class="table">
    <thead>
        <tr>
            <th>Hari</th>
            <th>Poli</th>
            <th>Lokasi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Jadwals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.hari)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nama_poli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lokasi)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.id">
                        <button type="submit" class="btn btn-danger">Hapus</button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Doctor.id">Edit</a>*@ |
    <a href="@Url.Action("Index", "DoctorSpecialization")">Ke Daftar Dokter</a>
</div>
